/* CheckDetails.css */
.rowStyle {
    display: flex;
    align-items: center;
    height: 50px;
    background: #EEF0F4;
    border-bottom: 1px solid #fff;
    padding-left: 1em;
}

.colStyle {
    display: flex;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid #EEF0F4;
    padding-left: 1.4em;
}

.btnStyle {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #EEF0F4;
    padding-left: 1.4em;
}